---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: code-server
  namespace: home-automation
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      code-server:
        pod:
          securityContext:
            runAsUser: 1003
            runAsGroup: 1003
            fsGroup: 1003
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.3

            args:
              - --auth
              - none
              - --user-data-dir
              - /home/coder/.vscode
              - --extensions-dir
              - /home/coder/.vscode
              - --port
              - "8080"
              - --proxy-domain
              - &host "code.home.${SECRET_DOMAIN}"
              - /home/coder

            env:
              DISABLE_TELEMETRY: "true"
              TZ: "${TIMEZONE}"

            resources:
              requests:
                cpu: 10m
                memory: 640M
              limits:
                memory: 640M
    service:
      app:
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: 8080
