---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
  namespace: home-automation
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      matter-server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
            env:
              TZ: ${TIMEZONE}
              MATTER_SERVER__INSTANCE_NAME: matter-server
              MATTER_SERVER__PORT: 5580
              MATTER_SERVER__APPLICATION_URL: ${HOST_MATTER_SERVER}.${DOMAIN}
              MATTER_SERVER__LOG_LEVEL: info
            args:
              - --storage-path=/data
              - --log-level=debug
              - --log-level-sdk=info
            resources:
              limits:
                memory: 100Mi
    defaultPodOptions:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      annotations:
      hostUsers: false
      securityContext:
        runAsNonRoot: false # Must be run as root user
        # runAsUser: 1003        # Must be run as root user
        # runAsGroup: 1003
        # fsGroup: 1003
        # fsGroupChangePolicy: OnRootMismatch
        # supplementalGroups: [34]
    service:
      app:
        ports:
          http:
            port: 5580
    persistence:
      data:
        existingClaim: matter-server-pvc
      tmp:
        type: emptyDir
