---
.vscode/**

# Docker Secrets, Environment Files
**/secret.*
**/.env
**/.envrc

packer-*.log
packer_cache/
*.iso
*.box
*.ova

**/helm-credentials.yaml
**/**secret.yaml
**/.decrypted~*
kubernetes/apps/test/secrets/cm-homepage.yaml
tmp/**
