---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: immich
      version: 0.10.3
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system

  values:
    # These entries are shared between all the Immich components
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.2@sha256:8ac5a6d471fbb6fcfec6bc34854dd5a947c1795547f0d9345d9bf1803d1209e3
            env:
              REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
              IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
              DB_URL: ${IMMICH_DB_URL}
              DB_HOSTNAME: ${IMMICH_DB_HOSTNAME}
              DB_USERNAME: ${IMMICH_DB_USERNAME}
              DB_DATABASE_NAME: ${IMMICH_DB_DATABASE_NAME}
              DB_PASSWORD: ${IMMICH_DB_PASSWORD}
              DB_VECTOR_EXTENSION: pgvector
              PUBLIC_IMMICH_SERVER_URL: https://${HOST_IMMICH}.${DOMAIN}
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                memory: 4Gi 

    immich:
      metrics:
        # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
        enabled: true
      persistence:
        # Main data store for all photos shared between different components.
        library:
          # Automatically creating the library volume is not supported by this chart
          # You have to specify an existing PVC to use
          existingClaim: photos
      configuration: {}

    # Dependencies
    valkey:
      enabled: true
      controllers:
        main:
          resources:
            requests:
              cpu: 100m
            limits:
              cpu: 500m
          containers:
            main:
              image:
                repository: docker.io/valkey/valkey
                tag: 9.0-alpine@sha256:c106a0c03bcb23cbdf9febe693114cb7800646b11ca8b303aee7409de005faa8
                pullPolicy: IfNotPresent
      persistence:
        data:
          enabled: true
          type: persistentVolumeClaim
          existingClaim: valkey-data
      service:
        main:
          enabled: true
          annotations:
            # This enables discovery
            gatus.io/monitor: "true"

            # This tells Gatus *how* to monitor it
            gatus.home-operations.com/endpoint: |
              # Assign it to a group on the dashboard
              group: "media"

    # Immich components
    server:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                repository: ghcr.io/immich-app/immich-server
                pullPolicy: IfNotPresent
      ingress:
        main:
          enabled: false
      # -- Node selector for pod scheduling.
      nodeSelector:
        # We will install all the services on nodes labeled as storage:NFS (the agent nodes)
        node-role.kubernetes.io/nfs: ""
      service:
        main:
          enabled: true
          annotations:
            # This enables discovery
            gatus.io/monitor: "true"

            # This tells Gatus *how* to monitor it
            gatus.home-operations.com/endpoint: |
              # Assign it to a group on the dashboard
              group: "media"

    machine-learning:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                repository: ghcr.io/immich-app/immich-machine-learning
                tag: v2.5.2@sha256:531d2bccbe20d0412496e36455715a18d692911eca5e2ee37d32e1e4f50e14bb
                pullPolicy: IfNotPresent
              env:
                TRANSFORMERS_CACHE: /cache
                HF_XET_CACHE: /cache/huggingface-xet
                MPLCONFIGDIR: /cache/matplotlib-config
      persistence:
        cache:
          enabled: true
          size: 10Gi
          # Optional: Set this to pvc to avoid downloading the ML models every start.
          # type: emptyDir
          accessMode: ReadWriteMany
          storageClass: longhorn
      service:
        main:
          enabled: true
          annotations:
            # This enables discovery
            gatus.io/monitor: "true"

            # This tells Gatus *how* to monitor it
            gatus.home-operations.com/endpoint: |
              # Assign it to a group on the dashboard
              group: "media"
