---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vm-logs
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: victoria-logs-single
      # renovate: registryUrl=https://victoriametrics.github.io/helm-charts chart=victoria-logs-single
      version: 0.11.28
      sourceRef:
        kind: HelmRepository
        name: victoriametrics
        namespace: flux-system
  values:
    server:
      enabled: true
      extraArgs:
        envflag.enable: "true"
        envflag.prefix: VM_
        loggerFormat: json

      persistentVolume:
        enabled: true
        accessModes:
          - ReadWriteOnce
        storageClass: ""
        existingClaim: ""
        size: 1Gi

      service:
        enabled: true
        externalIPs: []
        loadBalancerIP: ""
        loadBalancerSourceRanges: []
        servicePort: 9428
        type: ClusterIP

      serviceMonitor:
        enabled: true

      statefulSet:
        enabled: true
        podManagementPolicy: OrderedReady
        service:
          enabled: true
          annotations: {}
          labels: {}
          servicePort: 9428
