---
# homepage release
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 10m0s
  chart:
    spec:
      chart: homepage
      version: '2025.06.1'
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: ghimele
        namespace: flux-system
  values:
    namespace: homepage
    image:
      repository: ghcr.io/gethomepage/homepage
      # Overrides the image tag whose default is the chart appVersion.
      tag: 'v1.8.0'
