---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: matter-server-pvc
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
