---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  interval: 10m0s
  values:
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: home-assistant-pvc
        advancedMounts:
          main:
            main:
              - path: /config
            code-server:
              - path: /config
    service:
      main:
        annotations:
          # This enables discovery
          gatus.io/monitor: "true"

          # This tells Gatus *how* to monitor it
          gatus.home-operations.com/endpoint: |
            # Assign it to a group on the dashboard
            group: "home-automation"

            # Tell Gatus to check the /api/ path, not /
            url: http://home-assistant.home-automation.svc.cluster.local:8123/api/
            # Check for a 401, which proves the HA
            # API is up and responding.
            conditions:
              - "[STATUS] == 401"
              - "[RESPONSE_TIME] < 1000"
        controller: main
        type: ClusterIP
        ports:
          http:
            port: 8123
          coap:
            protocol: UDP
            port: 5683
            targetPort: 5683
