---
# traefik release
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-crd
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-operator-crds
      version: "27.0.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 12h
  values:
