---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: music-assistant
  namespace: media
spec:
  interval: 10m0s
  values:
    defaultPodOptions:
      # -- Node selector for pod scheduling.
      nodeSelector:
        # We will install all the services on nodes labeled as storage:NFS (the agent nodes)
        node-role.kubernetes.io/nfs: ""
    persistence:
      media:
        ## -- Use an existing PVC for this mount
        enabled: true
        existingClaim: media
    service:
      app:
        annotations:
          # This enables discovery
          gatus.io/monitor: "true"

          # This tells Gatus *how* to monitor it
          gatus.home-operations.com/endpoint: |
            # Assign it to a group on the dashboard
            group: "media"
        controller: music-assistant
        ports:
          http:
            port: 8095
          stream:
            port: 8097
