---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: code-server
  namespace: home-automation
spec:
  interval: 10m0s
  values:
    service:
      app:
        annotations:
          # This enables discovery
          gatus.io/monitor: "true"
          # This tells Gatus *how* to monitor it
          gatus.home-operations.com/endpoint: |
            # Assign it to a group on the dashboard
            group: "home-automation"
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: 8080
    persistence:
      esphome-config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: esphome-pvc
        advancedMounts:
          code-server:
            app:
              - path: /esphome-config
      ha-config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: home-assistant-pvc
        advancedMounts:
          code-server:
            app:
              - path: /ha-config
