---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: postgres-cluster
  namespace: cnpg-db
  annotations:
    gatus.home-operations.com/endpoint: |-
      conditions:
      - "[CONNECTED] == true"
spec:
  entryPoints:
    - websecure
  tls:
    secretName: postgres-cluster.${DOMAIN}
    passthrough: true
  routes:
    - match: HostSNI(`${HOST_DB}.${DOMAIN}`)
      services:
        - name: postgres-cluster-rw
          port: 5432
          terminationDelay: 0
