---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home-automation
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      esphome:
        pod:
          securityContext:
            runAsUser: 1003
            runAsGroup: 1003
            fsGroup: 1003
            runAsNonRoot: true
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2026.1.5
            env:
              ESPHOME_DASHBOARD_USE_PING: true
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 1024M
              limits:
                memory: 2048M
    service:
      app:
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: 6052
