---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 10m0s
  values:
    namespace: homepage
    image:
      repository: ghcr.io/gethomepage/homepage
      # Overrides the image tag whose default is the chart appVersion.
      tag: 'v1.9.0'
    enableRbac: false
    env:
      - name: HOMEPAGE_ALLOWED_HOSTS
        value: homepage.${DOMAIN}
